<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/b0da32c91b.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    


    <div class="main" >
        <div>
             <a href="./../index.html">
                 <h1 class="brianwinkelmann-sobremi" >
                     Brian Winkelmann
                 </h1>
             </a>
         </div> 
        <div class="menunavegacion" >
             <a href="./../index.html">
                 <il> 
                     Inicio
                 </il>
            </a>
            <a href="./portafolio.html">
                 <il>
                     Portafilio
                 </il>
            </a>
            <a href="./sobremi.html">
                  <il class="menusobremi" >
                      Sobre mí
                 </il>
             </a>
     
             <a href="./contacto.html">
                 <il>
                      Contacto
                </il>
             </a>
     
     
             <a href="https://www.facebook.com/brian.winkelmann.5" target="blank" > 
                 <i class="fab fa-facebook-f"></i>
             </a>
         
             <a href="https://www.instagram.com/brianwinkelmann/" target="blank" >
                 <i class="fab fa-instagram"></i>
             </a>
         
             <a href="https://web.whatsapp.com/" target="blank" >
                 <i class="fab fa-whatsapp"></i>
             </a>
     
        </div>
     
     </div>


<div> 

    <div class="imagenfondo" >
        <img src="./../imagenes/sobremi.jpg" alt=""  class="img-sobremi">
    </div>
    

    <div class="fondosobremi">

        <h1>
            Sobre Mí
        </h1>
        <p class="parrafosobremi" > 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In delectus quas, blanditiis facere rerum, beatae, nesciunt eaque quam hic ipsa illum consequuntur quaerat officiis harum. Deserunt vel repellat possimus tenetur?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus sequi assumenda enim placeat vel molestiae, tempora, doloribus tempore commodi sunt totam repudiandae sit excepturi in, alias amet necessitatibus voluptate dolorum.
            
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus corrupti perferendis dolorum! Cupiditate dolores molestias, voluptatum veritatis repellat debitis eligendi laborum consequuntur dolore corrupti iure reiciendis, qui voluptate atque unde? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi distinctio veritatis consequatur, aliquid at odit dolorem enim dolore blanditiis nam reiciendis dolorum deleniti debitis quam minima, voluptate atque inventore? Distinctio?
        </p>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>


</body>
</html>